{% extends "_layout.html" %}
{% block profiling %}
<section class="jumbotron bg-dark text-center">
  <div class="auth-container col-md-4">
    <h3 class="jumbotron-heading text-light"><strong>Crime Profiler</strong></h3>
    <!-- Login Form -->
    <form class="form-signin" method="post" action="{% url "index" %}">
      {% csrf_token %}
      <!-- Username Field -->
      <div class="form-floating mb-3">
        <input type="text" name="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
        <label for="inputUser">Username</label>
      </div>

      <!-- Password Field -->
      <div class="form-floating mb-4">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <!-- Submit Button -->
      <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>
    </form>
  </div>
</section>
<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 15px;
  }

  .auth-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 252, 252, 0.15);
  }
</style>
{% endblock profiling %}