<!-- Mobile Menu start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a  href="{% url "crime_list" %}"><i class="notika-icon notika-house"></i>Cases</a>
                            </li>
                            <li><a  href="{% url "court_roll" %}"><i class="notika-icon notika-form"></i> Court Rolls</a>
                            </li>
                            <li><a  href=""><i class="notika-icon notika-edit"></i> Investigations</a>
                            </li>
                            <li><a  href="{% url "trends" %}"><i class="notika-icon notika-bar-chart"></i> Trends</a>
                            </li>
                            <li><a  href=""><i class="notika-icon notika-support"></i> Accounts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->